Standard:                         Cpp11
BasedOnStyle:                     LLVM
AllowShortFunctionsOnASingleLine: None
IndentWidth:                      4
UseTab:                           Never
Language:                         Cpp
ColumnLimit:                      120
BreakBeforeBraces:                Linux
IndentCaseLabels:                 true
AlignConsecutiveMacros:           true
AlignConsecutiveAssignments:      true
LineEnding:                       LF
InsertBraces:                     true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false