/.vscode
/.devcontainer/*/.vscode/*
!.devcontainer/*/.vscode/launch.json
!.devcontainer/*/.vscode/settings.json
!.devcontainer/*/.vscode/tasks.json
build
software/controller/managed_components/*

##############################################
##                Kicad files              ##
##############################################
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_pro-bak
*-backups
*.kicad_prl
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
**/hardware/**/src/*.xml

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# KiBot files
*drc.html
*erc.html
*.lck
*kibom.ini
**/hardware/**/*.filter

##############################################
##               FreeCAD files              ##
##############################################
*.FCBak

##############################################
##                 ESP IDF                  ##
##############################################
__pycache__
networking_default_config.h
