html,
body {
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
}

.column {
    flex: 1;
}

.column-1 {
    border-style: solid;
    flex-basis: 75%;
}

.column-2 {
    border-style: solid;
    flex-basis: 25%;
}

.flapTextInput {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.flapButton {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}